<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <POS.Properties.Settings>
      <setting name="userid" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>ADMIN</value>
      </setting>
      <setting name="Server" serializeAs="String">
        <value>DESKTOP-RIJP0KJ</value>
      </setting>
      <setting name="TopTitle" serializeAs="String">
        <value>Malak IT Solution</value>
      </setting>
      <setting name="Phone" serializeAs="String">
        <value>00491519294437</value>
      </setting>
      <setting name="Address" serializeAs="String">
        <value>Neustadt, Hessen, Germany</value>
      </setting>
      <setting name="Email" serializeAs="String">
        <value>bashar6158@gmail.com</value>
      </setting>
      <setting name="SetPrice" serializeAs="String">
        <value />
      </setting>
      <setting name="BackUpPath" serializeAs="String">
        <value />
      </setting>
      <setting name="Theme" serializeAs="String">
        <value />
      </setting>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="customerlist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="itemlist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="loanlist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="supplierlist" serializeAs="String">
        <value>False</value>
      </setting>
    </POS.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
